<div class="skeleton-table">
    <div class="skeleton-row header">
        <div class="cell header-logo shimmer"></div>
        <div class="cell name shimmer"></div>
        <div class="cell desc shimmer"></div>
        <div class="cell date shimmer"></div>
        <div class="cell date shimmer"></div>
        <div class="cell actions shimmer"></div>
    </div>

    <div class="skeleton-row" *ngFor="let row of [1,2,3,4,5]">
        <div class="cell logo shimmer"></div>
        <div class="cell name shimmer"></div>
        <div class="cell desc shimmer"></div>
        <div class="cell date shimmer"></div>
        <div class="cell date shimmer"></div>
        <div class="cell actions shimmer"></div>
    </div>
</div>