<div class="form-skeleton">
    <div class="skeleton-title-row">
        <div class="col-50">
            <div class="skeleton-title"></div>
        </div>
        <div class="col-50">
            <div class="skeleton-title"></div>
        </div>
    </div>
    <div class="skeleton-row">
        <div class="skeleton-input"></div>
        <div class="skeleton-input"></div>
    </div>
    <div class="skeleton-title"></div>
    <div class="skeleton-input full"></div>
    <div class="skeleton-title-row">
        <div class="col-50">
            <div class="skeleton-title"></div>
        </div>
        <div class="col-50">
            <div class="skeleton-title"></div>
        </div>
    </div>
    <div class="skeleton-row">
        <div class="skeleton-input"></div>
        <div class="skeleton-input"></div>
    </div>
    <div class="skeleton-title"></div>
    <div class="skeleton-input full"></div>
    <div class="skeleton-buttons">
        <div class="skeleton-button"></div>
        <div class="skeleton-button"></div>
    </div>
</div>