<div class="product-table">
    <div class="header-container">
        <input type="text" class="search-input" [(ngModel)]="textFilter" (keyup)="filterList()" />
        <button class="add-btn" (click)="addProduct()">Agregar</button>
    </div>
    <div class="table-wrapper">
        <table>
            <thead *ngIf="!isLoading">
                <tr>
                    <th>Logo</th>
                    <th>Nombre del Producto</th>
                    <th>Descripción <span class="info-icon">i</span></th>
                    <th>Decha de Liberación <span class="info-icon">i</span></th>
                    <th>Fecha de Reestructuración <span class="info-icon">i</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="!isLoading">
                <tr *ngFor="let product of paginatedList()">
                    <td>
                        <div class="avatar">
                            <img class="logo" [src]="product.logo" alt="Product logo" />
                        </div>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.date_release }}</td>
                    <td>{{ product.date_revision }}</td>
                    <td>
                        <div class="dropdown-container">
                            <button class="dropdown-toggle" (click)="toggleDropdown(product.id)">⋮</button>
                            <div class="dropdown-menu" *ngIf="dropdownOpen == product.id">
                                <button (click)="editProduct(product.id)">Edit</button>
                                <button (click)="onDeleteProduct(product)">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <app-product-list-skeleton *ngIf="isLoading"></app-product-list-skeleton>
        </table>
    </div>

    <div class="table-footer">
        <span>{{list.length }} {{list.length == 1? 'Resultado': 'Resultados' }} </span>

        <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>

        <div class="pagination-controls">
            <button (click)="previousPage()" [disabled]="currentPage === 1">←</button>
            <span>Pagina {{ currentPage }} de {{ totalPages() }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()">→</button>
        </div>
    </div>

</div>